/*CSS RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*ACTUAL CSS*/


/* COLORS AND SHTUFF */
/* https://coolors.co/001b2e-294c60-adb6c4-ffefd3-ffc49b */


/* FOR DARK/LIGHT MODE FLIP EVENTUALLY */
:root{
    --color-sections-dark: #FFC49B;
    --color-sections-light: #FFEFD3;
    --color-text-dark: #001b2e;
    --color-text-light: #294C60;
    --color-active-button: #294C60;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    --light-mode-button: #fff7e9;
    --light-mode-button-active: #dd6f44;
    --submit-button-active: #001b2e;
}
[data-theme="dark"] {
    --color-sections-dark: #001b2e;
    --color-sections-light: #1e3b4d;
    --color-text-dark: #ffefa8;
    --color-text-light: #ffd20b;
    --color-active-button: #ffd20b;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    --light-mode-button: #ffefa8;
    --light-mode-button-active: #ffd20b;
    --submit-button-active: #c98403;
}

/* CURVES */
.custom-shape-divider-top-1744989386 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1744989386 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1744989386 .shape-fill {
    fill: var(--color-sections-dark);
}

.custom-shape-divider-bottom-1744991574-TEST {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1744991574-TEST svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 36px;
}

.custom-shape-divider-bottom-1744991574-TEST .shape-fill {
    fill: var(--color-sections-dark);
}

/* END CURVES*/

/* GENERAL BODY CSS */
body {
    display: flex;
    max-width: 100dvw;
    font-size: 1.75rem;
    font-family: "Grandstander";
    text-align: center;
}

.generalColors{
    background-color: var(--color-sections-dark);
    color: var(--color-text-dark);
}

h2 {
    font-size: 4.5rem;
    font-weight: bold;
}

.smallText {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--color-text-light);
    transition: 0.15s;
}

a:hover {
    color: white;
    text-shadow: var(--color-text-dark) 1px 0 1px;
}

a:active {
    color: #ADB6C4;
}

.paleSections {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background-color: var(--color-sections-light);
    z-index: 1;
}

.scrollable{
    scroll-margin-top: 3.5rem;
}

.hidden {
    opacity: 0;
    transition: 0.75s;
    transform: translateX(-5%);
    filter: blur(3px);
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

.iconAnimation:nth-child(2){
    transition-delay: 200ms;
}
.iconAnimation:nth-child(3){
    transition-delay: 300ms;
}
.iconAnimation:nth-child(4){
    transition-delay: 400ms;
}
.iconAnimation:nth-child(5){
    transition-delay: 500ms;
}
.iconAnimation:nth-child(6){
    transition-delay: 600ms;
}

.allIcons{
    transform: scale(225%);
    color: var(--color-text-dark);
}

.rowOfIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.projects {
    background-color: var(--color-sections-dark);
    padding: 1rem;
    border: dashed 3px var(--color-text-light);
    margin: 1rem;
}

button:active {
    background-color: var(--submit-button-active);
    transform: scale(0.95);
}

button:hover{
    cursor: pointer;
}

button:disabled{
    opacity: 50%;
    cursor: not-allowed;
}


/* IMAGES */
.valPhoto {
    border: dashed 5px var(--color-text-light);
    border-radius: 50%;
    margin: auto;
    float: right;
    width: 25%;
    height: 25%;
    margin: 0 2rem;
    }

.paperPlaneImage{
    position: absolute;
    bottom: -50px;
    right: 3%;
    width: 100%;
    height: auto;
    max-width: 30vw;
    z-index: -1;
}
/* END IMAGES */

/* FORM */
.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
}

.formElements {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.formElements label {
    margin-right: 1rem;
}

.modeButton {
    border-radius: 50%;
    position: sticky;
    left: 2rem;
    bottom: 2rem;
    z-index: 3;
    display: flex;
    background: var(--light-mode-button);
    padding: 0.5rem;
}

.modeButton:active {
    transform: scale(0.95);
    background-color: var(--light-mode-button-active);
}

.modeButtonText{
    font-size: 2.5rem;
    color: var(--submit-button-active);
}

input{
    font-family: "Grandstander";
}

@media screen and (max-width: 480px) { 
    .columnOnMobile{
        flex-direction: column-reverse;
    }
    .modeButtonText{
        font-size: 5rem;
    }
    .modeButton{
        bottom: 3rem;
        left: 3rem;
    }
    .paperPlaneImage{
        max-width: 60dvw;
    }
}
